* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}
.mountBlock {

    width: 300px;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

.btn {
    margin-top: 30px;
    padding: 15px;
}